.floatHospital,.floatRoom,.floatDoctor{
    width: 33.3%;
    text-align: center;
}
.invitaion-doctor{
    //z-index: 2033;
    //padding-bottom: 30px !important;
    background-color:rgba(0,0,0,0.5);
    .message-box{
        padding-bottom: 30px;
    }
}
.table__header-wrapper thead div{
    color:#747474;
    font-weight: normal;
}

