.allheader-title{
  width:100%;
  height:50px;
  box-sizing: border-box;
  padding:0px 20px;
  border: 1px solid #dfe6ec;
}
.Header-title{
  width:100%;
}
.el-button{
  color:#00b2b1;
}
.Header-add{
  width:100%;
  padding:10px 30px;
  box-sizing: border-box;
}
.Header-add .btn{
  border-color: #00b2b1;
  background-color: #00b2b1;
}
.date-box .btn{
  border-color: #00b2b1;
  background-color: #00b2b1;
}
.el-button--primary{
  color:#fff;
  background-color: #00b2b1;
  border-color: #00b2b1;
}
.el-button:focus{
  border-color: #00b2b1;
  color:#00b2b1;
}
.el-button--primary:hover{
 opacity: 0.8;
}
.el-button--default:hover{
  border:1px solid #00b2b1;
  color:#00b2b1;
}
.el-button--primary:focus{
  color: #fff;
  border-color: #00b2b1;
}
.el-table__body-wrapper td{
  font-size: 12px;
  color:#666665;
}