.base-top{
  width:100%;
  box-sizing: border-box;
}
.base-appoint{
  width:100%;
  box-sizing: border-box;
  padding:0px 20px;
}
.base-message{
  box-sizing: border-box;
  padding:10px 20px;
  background: #fff;
  width:100%;
  border-left:1px solid #E3E1E2;
  border-right:1px solid #E3E1E2;
  border-bottom:1px solid #E3E1E2;
}
.base-docs{
  width:100%;
  position:relative;
  margin-top:20px;
}
.el-form-item{
  height:36px;
  float: left;
}
 .el-form-item__error{
  color: #ff4949;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top:40px;
  left: 0;
}
.base-box input{
  height:26px;
}
.base-con{
  width:100%;
  height:36px;
  overflow: hidden;
  position:relative;
}

.base-box{
  width:100%;
  height:36px;
}
.base-doc .btn{
  border-color: #00b2b1;
  background-color: #00b2b1;
}
.base-con .btn{
  border-color: #00b2b1;
  background-color: #00b2b1;
}
.base-doc{
  box-sizing: border-box;
  padding:10px 0px;
}
.base-docs .el-input--small .el-input__inner{
  height:24px;
}
.el-form-item{
  margin-bottom:20px;
}
.add-pic-list{
  margin-left:70px;
}
.ghost-btn-wrap{
  margin-left:70px;
  margin-top:10px;
}
.add-pic-list .el-upload-list .el-upload-list__item{
  width:66px;
  height:66px;
}
.base-idcard{
  float:left;
}
.base-docs label{
  font-size: 14px;
  color:#818181;
}
.showImg{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  position: relative;
}
.showImg:hover .showImgSon{
  display: block;
}
.showImgSon{
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  background: black;
  opacity: .7;
  color: white;
  display: none;
  cursor: pointer;
}
.showImg  img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.showText{
  display: inline-block;
  min-width: 150px;
  height: 20px;
  width: auto;
  line-height: 1px;
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background: white;
  padding: 15px 40px;
  font-size: 12px;
  color: grey;
  margin-right: 5px;
  position: relative;
  box-sizing: border-box;
}
.showText:hover .showTextSon{
  display: block;
}
.showTextSon{
  position: absolute;
  display: none;
  top:16px;
  right: 5px;
}
.diagnoseList{
  float: left;
  width: 812px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top:40px;
  position: absolute;
  font-size:14px;
  left:70px;
  top: 0;
  z-index: 888;
  background:#FFFFFF;
}
.diagnoseList p{
  border-bottom: 1px solid gray;
  padding: 8px;
}
.diagnoseList ul{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  max-height: 200px;
  overflow: auto;
}
.diagnoseList li{
  padding: 10px 8px 0 8px ;

}
.delete{
  display: inline-block;
  float: right;
}
.inputDiagnose{
}
.btnDiagnose{
  padding: 10px 8px 10px 8px ;
  overflow: hidden;
}