.rwzx-table{
  width:48%;
  height:260px;
  float:left;
  margin-left:20px;
  border:1px solid #dfe6ec;
  overflow: hidden;
}
.rwzx-table .el-table__header-wrapper{
  font-size: 14px;
}
.el-table .cell, .el-table th>div{
  padding:0px 0px;
}
.el-table .cell, .el-table{
  text-align: center;
}
.rwzx-title{
  width:100%;
  height:30px;
  font-size: 14px;
  line-height:30px;
  box-sizing: border-box;
  padding:0px 20px;
}
.rwzx-box{
  width:100%;
  height:300px;
}
.rwzx-charts{
  width:100%;
  height:250px;
  box-sizing: border-box;
  position:relative;
  margin-top:-20px;
}
.rwzx-picture{
  width:48%;
  height:265px;
  margin-left:20px;
  float:left;
  box-sizing: border-box;
  border:1px solid #dfe6ec;
  overflow: hidden;
}
.rwzx-tj{
  width:98%;
  height:100%;
  box-sizing: border-box;
}
.bl.el-tae td{
  height:30px;
}
.el-table td{
  height:26px;
}