/*==========
首页内容样式
 ===========*/
@import "common";

.home-top{
    height: 122px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-between;
    width: 100%;
}
.home-top-item{
    float: left;
    box-sizing: border-box;
    width: 230px;
    height: 96px;
    margin: auto 0;
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 10px rgba(101, 100, 100, 0.35);
    }
}
.home-top-item-content{
    margin-left: 20px;
    margin-top: 22px;
}
.home-top-item-title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #656464;
}
.home-top-item-num{
    font-size: 14px;
    color: #cccccc;
}
.home-top-item-icon{
    width: 71px;
    height: 71px;
    margin-top: 12px;
    margin-right: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.bg-twzx-big{
    background-color: #00B2B1;
    background-image: url("../images/mzzz.png");
}
.bg-ychz-big{
  background-color: $cYellow1;
  background-image: url("../images/zyzz.png");
}
.bg-spwz-big{
  background-color: $cPurple1;
  background-image: url("../images/jczz.png");
}
.bg-rjzz-big{
    background-color: #34ABFF;
    background-image: url("../images/rjzz.png");
}
/*home顶部菜单*/
.home-top-item-content .item{
    /*element-ui类名 这里改变公共小标样式*/
    .el-badge__content{
        top: 8px;
        right: -10px;
        height: 26px;
        width: 26px;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        border-radius: 50%;
        line-height: 26px;
    }
}
.home-top-item-twzx{
    /*修改小标样式*/
    sup{
        background-color: $cBlue5;
    }
}
.home-top-item-spwz{
    sup{
        background-color: $cPurple1;
    }
}
.home-top-item-ychz{
    sup{
        background-color: $cYellow1;
    }
}
