/*==========
视频会诊首页内容样式
 ===========*/
@import "common";

.video-Top{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    background-color: #F9F9F9;
    .searchTip {
        line-height: 40px;
        height: 40px;
        vertical-align: top;
        color: #515151;
        margin: 0 10px 0 20px;
        font-size: 13px;
        font-weight:bold;
    }
    .searchBtn {
        width: 62px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin-top:10px;
        @extend %blueBtn;
    }
}
.searchTip {
    line-height: 40px;
    height: 40px;
    color: #515151;
    font-size: 13px;
}
.tabLine {
    height: 50px;
    display: flex;
    width: 100%;
    position: relative;
    background-color: #E6E6E6;
    .tab-badge{
        position: absolute;
        top: 0;
    }
    .badge-1{
        left: 75px;
    }
    .badge-2{
        left: 185px;
    }
    .badge-3{
        left: 260px;
    }
    .badge-4{
        left: 334px;
    }
    .badge-5{
        left: 408px;
    }
    .tabRow {
        width: 100%;
    }
    .tabPane {
        width: 120px;

    }
    .el-tabs__header {
        border-bottom: 0;
        height: 45px;
        margin: 0 0 0 20px;
    }
    .el-tabs__item {
        height: 100%;
        color: #7B7B7B;
    }
    .el-tabs__item.is-active {
        color: $cBlue6;
    }
    .el-tabs__active-bar {
        background-color: $cBlue6;
    }
}
//.el-table--border td, .el-table--border th {
//    border: 1px solid #dfe6ec;
//}
.videoCancel, .videoFinished, .videoOpinion {
    //border: 1px solid #e0e6ed;
    overflow-y: auto;
    .searchTip {
        margin-right: 0;
    }
    .video-Top {
        font-size: 14px;
        border: 1px solid $contentBorder;
    }
    .statusWord {
        color: $keyWord;
        line-height: 50px;
        height: 50px;
        vertical-align: top;
    }
    .home-content {
        background-color: #ffffff;
        border: 1px solid $contentBorder;
        border-top: 0;
    }
    .tipSpan {
        color: #7C7C7C;
        float: left;
        font-size: 12px;
    }
    .secTipSpan {
        color: #939393;
        font-size: 12px;
    }
    .NOSpan {
        color: #7C7C7C;
        float: left;
    }
    .line {
        padding: 5px 20px;
        height: 30px;
        line-height: 30px;
        background-color: #ffffff;
    }
    .secLine {
        padding: 10px 20px;
        background-color: #ffffff;
    }
    .personLine {
        height: 30px;
        line-height: 30px;
        padding: 10px 20px;
        background-color: #FAFAFA;
    }
    .rightSpan {
        float: right;
        color: #7c7c7c;
        font-size: 14px;
    }
    .price {
        color: $keyWord;
        font-weight: bold;
        font-size: 16px;
        margin: -2px 70px 0 0;
    }
    .detailContent {
        text-indent:2em;
        color: $cGray6;
        line-height: 22px;
        margin-top: 20px;
        font-size: 14px;
    }
    .imgContent {
        margin-top: 10px;
    }
    .treatImg {
        height: 100px;
        width: 144px;
        border: 2px solid #EBEBEB;
    }
    .name {
        font-size: 16px;
        color: $cGray6;
    }
}
.detail-content{
    text-indent:2em;
    color: $cGray6;
    line-height: 22px;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.videoFinished {
    .contentLine {
        background-color: #fff;
        margin-top: 10px;
        min-height: 80px;
        color: #4f4f4f;
        padding: 20px;
        font-size: 14px;
        line-height: 25px;

    }
}
.firstDiv {
    width: 80px;
    height: 80px;
    float: left;
    line-height: 22px;
    color: #808080;
}
.secdDiv {
    color: #939393;
    line-height: 22px;
}
.videoOpinion {
    .contentLine {
        background-color: #fff;
        margin-top: 10px;
        color: #4f4f4f;
        padding: 20px 20px;
        font-size: 16px;
        line-height: 25px;
        height: 25px;
        span {
            float: left;
            margin-right: 100px;
        }
    }
    .opinionPart {
        background-color: #fff;
        margin-top: 10px;
        padding: 20px 20px;
        height: 70px;
    }
    .el-textarea__inner {
        height: 70px;
    }
    .submit-btn-wrap {
        margin-top: 20px;
    }
}

//视频问诊间样式
.invitation{
    background-color: #38B0AC;
    color: white;
}
.invitation-file{
    color: #80CAD0;
}
.part-left-top{
    background-color: rgb(250,250,250);
}
.part-left-middle{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: rgb(250,250,250);
}
.part-middle-content{
    margin: 10px 0 0 10px;
}
.part-middle-content ul li{
    font-size: 12px;
}
.part-middle-content ul li:nth-of-type(2n){
    color: gray;
}
.blue-btn-wrap{
    text-align: right;
}
#disappear-background{
    background-color: white !important;
}
