/*登录页样式*/
.login-form{
    width: 400px;
    height: 520px;
    position: absolute;
    left:520px;
    top:0;
    padding:50px 0px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 0 10px #c7c7c7;
}
.login-form-title{
    position: absolute;
    box-sizing: border-box;
    height: 28px;
    width: 212px;
    left: 50%;
    top: 16%;
    margin-left: -106px;
    line-height: 28px;
    padding-left: 40px;
    color: #00b2b1;
    background-image: url("../images/icon-logo.png");
    background-repeat: no-repeat;

}
.login-item-wrap{
    display: inline-block;
    border-radius: 3px;
// border: 1px solid #c7c7c7;

}
.login-input{
    box-sizing: border-box;
    padding-left: 10px;
    border:1px solid #c7c7c7;
    border-radius: 0 3px 3px 0;
    background-color: #fff;
&:focus{
     border-color: #00b2b1;
 }
}
.login-icon-label{
    box-sizing: border-box;
    border-left: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
}
.login-btn{
    width:80%;
    height:30px;
    background: #00B2B1;
    border:0;
    outline: none;
    cursor:pointer;
    color:#fff;
}
.login-btn:hover{
    opacity: 0.7;
}
.link-wrap{
    width: 252px;
    margin-top: 5px;
    text-align: right;
}
.login-icon-captcha{
    background-image: url("image/icon-login-captcha.png");
}
.login-icon-id{
    background-image: url("image/loginpassword.png");
}
.login-icon-pwd{
    background-image: url("image/loginuser.png");
}


/*登录注册页面头部样式*/
.login-title{
    padding-left: 80px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;

span{
    position: absolute;
    top: 50%;
    left: 53px;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    background-color: $cBlue6;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
}
}
.login-back{
    width:100%;
    height:100%;
    box-sizing: border-box;
    overflow: hidden;
    background:#666666;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.login-box{
    width:920px;
    height:520px;
    background:#ccc;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
}
.login-img{
    width:520px;
    height:520px;
}
.login-input{
    background-color:#fff;
    height:30px;
}
.login-tit{
    width:80%;
    margin-left:10%;
}
.el-button--primary:hover{
    background: #01abac;
}
.login-btn{
    height:30px;
    margin-top:30px;
    margin-left:10%;
}
.sst{
    float:left;
}
.login-tit{
    background: #ECF5FA;
}